.tag-card {
    border-width: 2px;
    border-color: #ffffff50;
    background: linear-gradient(135deg, rgba(75, 60, 115, 0.35), rgba(75, 60, 115, 0.1));
    box-shadow: rgba(75, 60, 115, 0.5) 0px 54px 55px, rgba(75, 60, 115, 0.35) 0px -12px 30px, rgba(75, 60, 115, 0.35) 0px 4px 6px, rgba(75, 60, 115, 0.45) 0px 12px 13px, rgba(75, 60, 115, 0.35) 0px -3px 5px;
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
    transition: all 2s;
}

.tag-card:hover {
    transform: unset;
}